:root {
    --font-main: 'DM Sans';
    --font-header: 'Titan One';
    --basic-color: #fff;
    --text-main: #000;
    --text-second: #907E82;
    --brand-one: #D41443;
    --brand-second: #FFA5BA;
    --background-header: #FFB8CA;
    --background-about: #FFF5F6;
    --background-clients: #FAFAFA;
    --coffie-color: #F0D1A5;
    --shakes-color: #C2E297;
}


}@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
        padding: 0 20px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 34px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 112px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .products__undertitle {
        font-family: var(--font-header);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.167;
        letter-spacing: 0em;
        text-align: center;
        color: var(--brand-second);
    }
    .products__title {
        font-family: var(--font-header);
        font-size: 34px;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: 0.04em;
        text-align: center;
        color: var(--brand-one);
    }
    .products__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        
    }

    .products__item {
        margin-top: 144px;
        margin-bottom: 16px;
        
    }
    .ice-cream {
        background-color: var(--background-header);
        height: 485px;
        width: 280px;
        border-radius: 24px;
    }

    .ice-coffee {
        background-color: var(--coffie-color);
        height: 485px;
        width: 280px;
        border-radius: 24px;
    }

    .milkshakes {
        background-color: var(--shakes-color);
        height: 485px;
        width: 280px;
        border-radius: 24px;
    }


    .products__name--one,
    .products__name--two,
    .products__name--three {
        font-family: var(--font-header);
            font-size: 20px;
            font-weight: 400;
            line-height: 1.15;
            letter-spacing: 0.04em;
            text-align: center;
        color: var(--basic-color);
        position: relative;
        top: -132px;
    }

    .products__name--one::before {
        background-image: url("../product-images/icecream-mobile.png");
        background-repeat: no-repeat;
        content: "";
        width: 249px;
        height: 252px;
        background-size: contain;
        display: flex;
        flex-direction: column;
        margin: 22px auto;
        position: relative;
    }

    .products__name--two::before {
            background-image: url("../product-images/icecoffee-mobile.png");
            background-repeat: no-repeat;
            content: "";
            width: 249px;
            height: 252px;
            background-size: contain;
            display: flex;
            flex-direction: column;
            margin: 22px auto;
            position: relative;
        }

    .products__name--three::before {
            background-image: url("../product-images/milkshakes-mobile.png");
            background-repeat: no-repeat;
            content: "";
            width: 249px;
            height: 252px;
            background-size: contain;
            display: flex;
            flex-direction: column;
            margin: 22px auto;
            position: relative;
                }

    .products__name--one::after,
    .products__name--two::after,
    .products__name--three::after {
        background-image: url("../product-images/dots.png");
            background-repeat: no-repeat;
                content: "";
                height: 6px;
                width: 26px;
                background-size: contain;
                display: flex;
                flex-direction: column;
                margin: 30px auto;
                justify-content: center;
                align-items: center;
                text-align: center;
    }

    .products__description {
        font-family: var(--font-main);
            font-size: 14px;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
        color: var(--basic-color);
        padding: 0px 40px 30px;
        margin: 0 auto;
        position: relative;
        bottom: 132px;
    }
    .products__button {
        justify-content: center;
        border-radius: 50%;
        position: relative;
        bottom: 132px;
    }

    .right-arrow {
        border-radius: 50%;
        display: flex;
            margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {


}


@media screen and (min-width: 1200px) {

}